@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700&display=swap");

/* Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
	:root {
		--bg_gradient: linear-gradient(0deg, #cad4ed 100%, #d6f4fe 100%);
		--primary: "#344767";
	}
}

body {
	background: var(--bg_gradient);
	font-family: "Inter", sans-serif;
}

@layer base {
	@variants dark {
		body {
			color: var(--foreground);
			background: var(--background);
		}
	}

	@layer base {
		/* Remove the arrows from number inputs */
		input[type="number"]::-webkit-inner-spin-button,
		input[type="number"]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	/* Fonts */
	h1 {
		@apply text-h1-mui font-light font-inter;
	}

	h2 {
		@apply text-h2-mui font-bold font-inter;
	}

	h3 {
		@apply text-h3-mui font-semibold font-inter;
	}

	h4 {
		@apply text-h4-mui font-semibold font-inter;
	}

	h5 {
		@apply text-h5-mui font-medium font-inter;
	}

	.layout-main {
		/* screen height - 85px */
		min-height: calc(100vh - 85px);
	}
	:root {
		--radius: 0.5rem;
	}

	.swal2-title {
		padding-inline: 80px !important;
		padding-block: 60px !important;
	}

	.custom-swal-popup {
		width: fit-content;
		min-width: 60vw !important;
		max-width: min(900px, 80vw) !important;
		margin: 40px auto;
	}

	@media (max-width: 250px) {
		.custom-swal-popup {
			margin: 20px auto;
		}
	}
}
